.navbar-container {
    position: fixed;
    width: 100vw;
    z-index: 5;
}
.navbar {
    height: 10vh;
}
.social-container {
    width: 5%;
    display: flex;
    justify-content: space-between;
}

.active .nav-link {
    color: #d35555 !important;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        margin-left: 40%;
    }
    .navbar-brand {
        width: 7%;
    }
    .social-container {
        margin: 0 2rem;
    }
}

@media (max-width: 1280px) {
    .social-container {
        width: 10%;
    }
    .navbar-brand {
        width: 15%;
    }
}
