.project {
    opacity: 0;
    margin: 5% 0 5% 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.project a:hover {
    transform: scale(1.01);
}

.left {
    height: 20vw;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: opacity;
}
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
.fade-out {
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}
.arrows-container a {
    color: black;
}

.arrows-container .previous,
.arrows-container .next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
}

.arrows-container {
    display: flex;
    justify-content: space-between;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.right-text {
    text-align: center;
    width: 80%;
}
