body {
    margin: 0 10%;
    font-family: "Roboto Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }
}
