.visuo-container > .project > .left {
    background-color: #d35555;
}
.visuo-container > .project > .left > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutVisuo-container {
    padding-top: 15vh;
    min-height: 85vh;
}
